<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"> Iniciar sesión </h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="assets/img/MediLogo2.png" id="icon" alt="Icon"/>
      </div>
      <a [routerLink]="['/']"><strong><i class='bx bxs-left-arrow'></i>Página principal</strong></a>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input formControlName="usuario" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }"  type="text" id="usuario" class="fadeIn second" name="usuario" placeholder="Ingrese su correo electrónico">
        <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback" id="error">
            <div *ngIf="f.usuario.errors.required">*El correo electrónico es obligatorio</div>
            <div *ngIf="f.usuario.errors.usuario">*El correo electrónico debe ser válido</div>
         </div>
        <input formControlName="clave"[ngClass]="{ 'is-invalid': submitted && f.clave.errors }" type="password" id="clave" class="fadeIn third" name="clave" placeholder="Contraseña">
        <div *ngIf="submitted && f.clave.errors" class="invalid-feedback">
            <div *ngIf="f.clave.errors.required">*La contraseña es obligatoria</div>
         </div>
        <input type="submit" class="fadeIn fourth" value="Iniciar">
        <p>¿Eres nuevo en este sitio? <a [routerLink]="['/opciones']"><strong> Regístrate</strong></a></p>
      </form>
    </div>
  </div>
	
