<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Crear Historia Clínica </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/img/MediLogo2.png" id="icon" alt="Icon" />

        </div>
        <a [routerLink]="['/menu']"><strong><i class='bx bxs-left-arrow'></i>Volver al menú</strong></a><br><br>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                    <div class="col-md-4">
                        <label>Cédula de identidad</label>
                        <input readonly formControlName="cedula" [ngClass]="{ 'is-invalid': submitted && f.cedula.errors}" type="text" id="cedula" class="fadeIn second" name="cedula" maxlength="10">
                        <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                            <div *ngIf="f.cedula.errors.required">*La cédula de identidad es obligatoria</div>
                         </div>
                    </div>
                <div class="col-md-4">
                    <label class="col-md-12">Nombres</label>
                    <input readonly formControlName="nombres" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors}" type="text" id="nombres" class="fadeIn second" name="nombres">
                    <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                        <div *ngIf="f.nombres.errors.required">*El nombre es obligatorio</div>
                     </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-12">Motivo de ingreso</label>
                    <textarea formControlName="motivo" [ngClass]="{ 'is-invalid': submitted && f.motivo.errors}" type="text" id="motivo" class="fadeIn second" name="motivo" ></textarea>
                    <div *ngIf="submitted && f.motivo.errors" class="invalid-feedback">
                        <div *ngIf="f.motivo.errors.required">*El motivo de ingreso es obligatorio</div>
                     </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4">
                    <label class="col-md-12">Diagnóstico</label>
                    <textarea formControlName="diagnostico" [ngClass]="{ 'is-invalid': submitted && f.diagnostico.errors}" type="text" id="diagnostico" class="fadeIn second" name="diagnostico"></textarea>
                    <div *ngIf="submitted && f.diagnostico.errors" class="invalid-feedback">
                        <div *ngIf="f.diagnostico.errors.required">*El diagnóstico es obligatorio</div>
                     </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-12">Observaciones</label>
                    <textarea formControlName="observaciones" [ngClass]="{ 'is-invalid': submitted && f.observaciones.errors}" type="text" id="observaciones" class="fadeIn second" name="observaciones"></textarea>
                    <div *ngIf="submitted && f.observaciones.errors" class="invalid-feedback">
                        <div *ngIf="f.observaciones.errors.required">*Las observaciones son obligatorias</div>
                     </div>
                </div>
                <div class="col-md-4">
                    <label class="col-md-12">Medicación</label>
                    <input type="button" (click)="recetar()" class="fadeIn fourth"  value="Recetar Medicamentos">
                </div>
                
            </div>
            <input type="submit" class="fadeIn fourth"  value="Registrar historia">
        </form>
    </div>
    </div>

