<div class="container">
    <h2 class="active"> Listado de citas médicas </h2>
    <div class="fadeIn first">
        <img src="assets/img/MediLogo2.png" id="icon" alt="Icon" />
    </div>
    <strong><a [routerLink]="['/menu']"> <i class='bx bxs-left-arrow'></i> Volver al menú</a></strong><br><br>
	<table class="text-center" >
		<thead>
			<tr >
                <th>Cédula de identidad</th>
                <th>Nombres</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo consulta</th>
                <th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
                <td>
                    <a class="btn btn-info"><i class='bx bxs-edit'></i></a>
                    <a class="btn btn-danger"><i class='bx bx-x-circle'></i></a>
                    </td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
			<tr>
				<td>Cell 1</td>
				<td>Cell 2</td>
				<td>Cell 3</td>
				<td>Cell 4</td>
				<td>Cell 5</td>
			</tr>
		</tbody>
	</table>
</div>

