<div class="container">
    <h2 class="active"> Listado de citas médicas </h2>
    <br>
    <div class="fadeIn first">
        <img src="assets/img/MediLogo2.png" id="icon" alt="Icon" />
    </div>
    <strong><a [routerLink]="['/menu']"> <i class='bx bxs-left-arrow'></i> Volver al menú</a></strong><br><br>
	<table class="text-center" >
		<thead>
			<tr >
                <th>Empieza Cita</th>
                <th>Termina Cita</th>
                <th>Especialidad</th>
                <th>Médico</th>
                <th>Fecha Consulta</th>
                <th>Estado Consulta</th>
                <th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let cita of citas;let control=index">
				<td> {{cita.hora_empieza}} </td>
				<td>{{cita.hora_termina}}</td>
				<td>{{cita.especialidad}}</td>
				<td>{{cita.medico}}</td>
				<td>{{cita.fecha}}</td>
				<td>{{cita.estado}}</td>
                <td>
                    <a class="btn btn-info" *ngIf="cita.estado=='PENDIENTE'" (click)="agendar(cita.id_cita, cita.id_turno,cita.id_medico,cita.especialidad,cita.fecha,cita.hora_empieza)"><i class='bx bxs-edit'></i></a>
                    <a class="btn btn-info" *ngIf="cita.estado=='ATENDIDO'" (click)="informacion(cita.id_cita)" ><i class='bx bx-info-circle'></i></a>
                    <a class="btn btn-danger" *ngIf="cita.estado=='PENDIENTE'" (click)="borrar(cita.id_turno,control)"><i class='bx bx-x-circle'></i></a>
                </td>
			</tr>
		</tbody>
	</table>
</div>

