<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Información Personal </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/img/MediLogo2.png" id="icon" alt="Icon" />

        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-12">Nombres</label>
                    <input readonly formControlName="nombres" (keydown)="solo_letras($event)" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors}" type="text" id="nombres" class="fadeIn second" name="nombres">
                    <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                        <div *ngIf="f.nombres.errors.required">*El nombre es obligatorio</div>
                     </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12">Apellidos</label>
                    <input readonly formControlName="apellidos" (keydown)="solo_letras($event)" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors}" type="text" id="apellidos" class="fadeIn second" name="apellidos">
                    <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                        <div *ngIf="f.apellidos.errors.required">*El apellido es obligatorio</div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-12">Dirección</label>
                    <input readonly formControlName="direccion" [ngClass]="{ 'is-invalid': submitted && f.direccion.errors}" type="text" id="direccion" class="fadeIn second" name="direccion">
                    <div *ngIf="submitted && f.direccion.errors" class="invalid-feedback">
                        <div *ngIf="f.direccion.errors.required">*La dirección es obligatoria</div>
                     </div>
                </div>

                <div class="col-md-6">
                    <label class="col-md-12">Fecha Nacimiento</label>
                    <input readonly formControlName="fecha_naci" [ngClass]="{ 'is-invalid': submitted && f.fecha_naci.errors}" type="date" id="fecha_naci" class="fadeIn second" name="fecha_naci">
                    <div *ngIf="submitted && f.fecha_naci.errors" class="invalid-feedback">
                        <div *ngIf="f.fecha_naci.errors.required">*La fecha de nacimiento es obligatoria</div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-12">Cédula de identidad</label>
                    <input readonly formControlName="cedula" (keydown)="solo_numeros($event)" [ngClass]="{ 'is-invalid': submitted && f.cedula.errors}" type="text" id="cedula" class="fadeIn second" name="cedula" maxlength="10">
                    <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                        <div *ngIf="f.cedula.errors.required">*La cédula de identidad es obligatoria</div>
                     </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12">Teléfono</label>
                    <input readonly formControlName="celular" (keydown)="solo_numeros($event)" [ngClass]="{ 'is-invalid': submitted && f.celular.errors}" type="text" id="celular" class="fadeIn second" name="celular" maxlength="10">
                    <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
                        <div *ngIf="f.celular.errors.required">*El número de teléfono es obligatorio</div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div *ngIf="seleccionado=='MEDICO'" class="col-md-6">
                    <label class="col-md-12">Especialidad</label>
                    <input *ngIf="select==false" readonly formControlName="especialidad" [ngClass]="{ 'is-invalid': submitted && f.especialidad.errors}" type="text" id="especialidad" class="fadeIn second" name="especialidad">
                    <select *ngIf="select==true" formControlName="especialidad" [ngClass]="{ 'is-invalid': submitted && f.especialidad.errors}" type="text" id="especialidad" class="fadeIn second" name="especialidad">
                        <option value="0" selected>Selecciona un tipo de consulta</option>
                        <option value="Centro Obstétrico" >Centro Obstétrico</option>
                        <option value="Pediatría">Pediatría</option>
                        <option value="Anastesiología">Anastesiología</option>
                        <option value="Consulta Externa">Consulta Externa</option>
                        <option value="Ginecología">Ginecología</option>
                        <option value="Traumatología">Traumatología</option>
                        <option value="Medicina General">Medicina General</option>
                    </select>
                    <div *ngIf="submitted && f.especialidad.errors" class="invalid-feedback">
                        <div *ngIf="f.especialidad.errors.required">*La especialidad es obligatoria</div>
                     </div>
                </div>
            </div>
            <input type="button" class="fadeIn fourth" value="Editar perfil" (click)="editar()">
            <input type="submit" class="fadeIn fourth" value="Guardar cambios">
            <br>
            <a [routerLink]="['/menu']"><strong> Regresar</strong></a>
           </form>
    </div>
    </div>

