<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Agendar cita médica </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="assets/img/MediLogo2.png" id="icon" alt="Icon" />

        </div>
        <a [routerLink]="['/menu']"><strong><i class='bx bxs-left-arrow'></i>Volver al menú</strong></a><br><br>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row">
                    <div class="col-md-6">
                        <label>Cédula de identidad</label>
                        <input formControlName="cedula" [ngClass]="{ 'is-invalid': submitted && f.cedula.errors}" type="text" id="cedula" class="fadeIn second" name="cedula" maxlength="10">
                        <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                            <div *ngIf="f.cedula.errors.required">*La cédula de identidad es obligatoria</div>
                         </div>
                    </div>
                <div class="col-md-6">
                    <label class="col-md-12">Nombres</label>
                    <input formControlName="nombres" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors}" type="text" id="nombres" class="fadeIn second" name="nombres">
                    <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                        <div *ngIf="f.nombres.errors.required">*El nombre es obligatorio</div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <label class="col-md-12">Apellidos</label>
                <input formControlName="apellidos" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors}" type="text" id="apellidos" class="fadeIn second" name="apellidos">
                <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                    <div *ngIf="f.apellidos.errors.required">*El apellido es obligatorio</div>
                 </div>
            </div>
                <div class="col-md-6">
                    <label class="col-md-12">Edad</label>
                    <input formControlName="edad" [ngClass]="{ 'is-invalid': submitted && f.edad.errors}" type="text" id="edad" class="fadeIn second" name="edad" maxlength="2">
                    <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
                        <div *ngIf="f.edad.errors.required">*La Edad es obligatoria</div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-12">Tipo de consulta</label>
                    <select formControlName="especialidad_" [(ngModel)]="especialidad" (change)="seleccionar_especialidad()" class="custom-select">
                        <option value="" disabled selected>Selecciona un tipo de consulta</option>
                        <option [value]='1' >Centro Obstétrico</option>
                        <option [value]="2">Pediatría</option>
                        <option [value]="3">Anastesiología</option>
                        <option [value]="4">Consulta Externa</option>
                        <option [value]="5">Ginecología</option>
                        <option [value]="6">Traumatología</option>
                        <option [value]="7">Medicina General</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12">Fecha de la cita</label>
                    <input formControlName="fechaCita" [ngClass]="{ 'is-invalid': submitted && f.fechaCita.errors}" type="date" id="fechaCita" class="fadeIn second" name="fechaCita">
                    <div *ngIf="submitted && f.fechaCita.errors" class="invalid-feedback">
                        <div *ngIf="f.fechaCita.errors.required">*La fecha de la cita es obligatoria</div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="col-md-12">Hora</label>
                    <input formControlName="hora" [ngClass]="{ 'is-invalid': submitted && f.hora.errors}" type="time" id="hora" class="fadeIn second" name="hora" min="07:00" max="22:00" step="3600">
                    <div *ngIf="submitted && f.hora.errors" class="invalid-feedback">
                        <div *ngIf="f.hora.errors.required">*La hora es obligatoria</div>
                     </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12">Médico</label>
                    <select formControlName="medico" [(ngModel)]="id_medico" class="custom-select">
                        <option value="" disabled selected>Selecciona un médico</option>
                        <option *ngFor="let medico of medicos" [value]="medico.id_medico">{{ medico.nombres }}</option>
                      </select>
                </div>
            </div>
            <input type="submit" class="fadeIn fourth" (click)="agendar()" value="Agendar cita">
        </form>
    </div>
</div>

