 <!--<section class="preloader">
    <div class="spinner">
        <span class="spinner-rotate"></span>
    </div>
  </section>--->
  
  <!-- Menu --->
  <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
    <div class="container">
         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>
  
              <!---logo -->
              <a href="" class="navbar-brand"><img src="assets/img/MediLogoVert.png" alt="Logo"></a>
            </div>
  
         <!-- Menu Link -->
         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-nav-first">
                   <li><a href="#home" class="smoothScroll">Inicio</a></li>
                   <li><a href="#about" class="smoothScroll">Sobre nosotros</a></li>
                   <li><a href="#team" class="smoothScroll">Horarios</a></li>
                   <li><a href="#courses" class="smoothScroll">Servicios</a></li>
                   <li><a href="#testimonial" class="smoothScroll">Médicos</a></li>
                   <li><a href="#contact" class="smoothScroll">Contacto</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                   <li><a [routerLink]="['/login']"><i class="icon-circle-arrow-right"></i> Iniciar sesión</a></li>
              </ul>
         </div>
  
     </div>
  </section>
  
  
  <!-- Inicio banner -->
  <section id="home">
    <div class="row">
              <div class="owl-carousel owl-theme home-slider">
                   <div class="item item-first">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-6 col-sm-12">
                                       <h1>Te damos la bienvenida a Medi-Health</h1>
                                       <h3>Nuestro centro médico le invita a convertirse en parte de nuestra creciente y solidaria comunidad. En MEDI-HEALTH, vemos a nuestros pacientes como parte de la familia, y la familia siempre es nuestra prioridad.</h3>
                                       <a [routerLink]="['/opciones']"  class="section-btn btn btn-default smoothScroll">Registrarse</a>
                                  </div>
                             </div>
                        </div>
                   </div>
  
                   <div class="item item-second">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-6 col-sm-12">
                                       <h1>Servicios y Beneficios</h1>
                                       <h3>Nuestros programas y servicios están diseñados para satisfacer sus necesidades de atención médica y ayudarlo a mantener un estilo de vida saludable.</h3>
                                       <a href="#courses" class="section-btn btn btn-default smoothScroll">Servicios</a>
                                  </div>
                             </div>
                        </div>
                   </div>
  
                   <div class="item item-third">
                        <div class="caption">
                             <div class="container">
                                  <div class="col-md-6 col-sm-12">
                                       <h1>Médicos</h1>
                                       <h3>Cada uno de nuestros servicios se atiende específicamente a las necesidades e inquietudes individuales de cada paciente. Estamos aquí para ti.</h3>
                                       <a href="#testimonial" class="section-btn btn btn-default smoothScroll">Mostrar médicos</a>
                                  </div>
                             </div>
                        </div>
                   </div>
              </div>
    </div>
  </section>
  
  
  <!-- Sobre nosotros -->
  <section id="about">
    <div class="container">
         <div class="row">
  
              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <h2>Sobre nosotros</h2>
                        <p>En MEDI-HEALTH, nos comprometemos a brindarte la atención más excepcional en un ambiente compasivo y amigable. Con muchos años de experiencia, logramos una merecida reputación como los(as) mejores centro médico en el área y más allá.</p>
                        <figure>
                             <span><i class="fa fa-users"></i></span>
                             <figcaption>
                                  <h3>Misión</h3>
                                  <p>Brindar servicios médicos integrales de salud de alta calidad, sustentado en nuestros valores corporativos, tecnología de punta, infraestructura hospitalaria, conocimientos, experiencia y calidez de nuestro equipo médico y administrativo que garanticen excelencia y seguridad de servicios a nuestros usuarios.</p>
                             </figcaption>
                        </figure>
  
                        <figure>
                             <span><i class="fa fa-certificate"></i></span>
                             <figcaption>
                                  <h3>Visión</h3>
                                  <p>Estar entre las tres primeras clínicas hospitales en el mercado de prestadores de servicios hospitalarios de Ecuador tanto para el sector Público como Privado, en el corto, mediano y largo plazo.</p>
                             </figcaption>
                        </figure>
                   </div>
              </div>
  
              <div class="col-md-offset-1 col-md-4 col-sm-12">
                    <a class="navbar-brand"><img src="assets/img/Medic3.png" alt="Logo"></a>
              </div>
  
         </div>
     </div>
  </section>
  
  
  <!-- Horarios de atención -->
  <section id="team">
    <div class="container">
         <div class="row">
  
              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Horarios de atención<small>Estos son nuestros horarios de atención a nivel nacional</small></h2>
                   </div>
              </div>
  
              <div class="col-md-3 col-sm-6">
                   <div class="team-thumb">
                        <div class="team-info">
                             <h3>Lunes</h3>
                             <span>7:00 AM to 10:00 PM</span>
                        </div>
                   </div>
              </div>
              <div class="col-md-3 col-sm-6">
               <div class="team-thumb">
                    <div class="team-info">
                         <h3>Martes</h3>
                         <span>7:00 AM to 10:00 PM</span>
                    </div>
               </div>
          </div>
          <div class="col-md-3 col-sm-6">
               <div class="team-thumb">
                    <div class="team-info">
                         <h3>Miércoles</h3>
                         <span>7:00 AM to 10:00 PM</span>
                    </div>
               </div>
          </div>
          <div class="col-md-3 col-sm-6">
               <div class="team-thumb">
                    <div class="team-info">
                         <h3>Jueves</h3>
                         <span>7:00 AM to 00:00 PM</span>
                    </div>
               </div>
          </div>
          <div class="col-md-3 col-sm-6">
               <div class="team-thumb">
                    <div class="team-info">
                         <h3>Viernes</h3>
                         <span>7:00 AM to 00:00 PM</span>
                    </div>
               </div>
          </div><div class="col-md-3 col-sm-6">
               <div class="team-thumb">
                    <div class="team-info">
                         <h3>Sábado</h3>
                         <span>7:00 AM to 5:00 PM</span>
                    </div>
               </div>
          </div><div class="col-md-3 col-sm-6">
               <div class="team-thumb">
                    <div class="team-info">
                         <h3>Domingo</h3>
                         <span>Cerrado</span>
                    </div>
               </div>
          </div>
         </div>
    </div>
  </section>
  
  
  <!-- Servicios y Beneficios -->
  <section id="courses">
    <div class="container">
         <div class="row">
  
              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Servicios y Beneficios <small></small></h2>
                   </div>
  
                   <div class="owl-carousel owl-theme owl-courses">
                        <div class="col-md-4 col-sm-4">
                             <div class="item">
                                  <div class="courses-thumb">
                                       <div class="courses-top">
                                            <div class="courses-image">
                                                 <img src="assets/img/consulta.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="courses-date">
                                                 <span><i class="fa fa-clock-o"></i> 1 Hora</span>
                                            </div>
                                       </div>
  
                                       <div class="courses-detail">
                                            <h3><a >Consulta Externa</a></h3>
                                            <p>Atención médica a los pacientes ambulatorios con diversas patologías, para su evaluación y su a los servicios de especialidad.</p>
                                       </div>

                                  </div>
                             </div>
                        </div>
  
                        <div class="col-md-4 col-sm-4">
                             <div class="item">
                                  <div class="courses-thumb">
                                       <div class="courses-top">
                                            <div class="courses-image">
                                                 <img src="assets/img/Obstetrico.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="courses-date">
                                                 <span><i class="fa fa-clock-o"></i> 1 Hora</span>
                                            </div>
                                       </div>
  
                                       <div class="courses-detail">
                                            <h3><a >Centro Obstétrico</a></h3>
                                            <p>Ofrece a nuestras pacientes la mejor atención durante el embarazo y el parto, sea este natural o por cesárea.</p>
                                       </div>
  
                                       
                                  </div>
                             </div>
                        </div>
  
                        <div class="col-md-4 col-sm-4">
                             <div class="item">
                                  <div class="courses-thumb">
                                       <div class="courses-top">
                                            <div class="courses-image">
                                                 <img src="assets/img/pediatria.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="courses-date">
                                                 <span><i class="fa fa-clock-o"></i> 1 Hora</span>
                                            </div>
                                       </div>
  
                                       <div class="courses-detail">
                                            <h3><a >Pediatría</a></h3>
                                            <p>Brinda atención médica a niños de ambos sexos desde los 29 días hasta 14 años 11 meses y 29 días.</p>
                                       </div>
  
                                  </div>
                             </div>
                        </div>
  
                        <div class="col-md-4 col-sm-4">
                             <div class="item">
                                  <div class="courses-thumb">
                                       <div class="courses-top">
                                            <div class="courses-image">
                                                 <img src="assets/img/anestesiologia.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="courses-date">
                                                 <span><i class="fa fa-clock-o"></i> 1 Hours</span>
                                            </div>
                                       </div>
  
                                       <div class="courses-detail">
                                            <h3><a >Anastesiología</a></h3>
                                            <p>Encargados de diagnosticar y tratar cualquier problema o incidente médico durante la intervención o en el período posterior.</p>
                                       </div>
  
                                  </div>
                             </div>
                        </div>
  
                        <div class="col-md-4 col-sm-4">
                             <div class="item">
                                  <div class="courses-thumb">
                                       <div class="courses-top">
                                            <div class="courses-image">
                                                 <img src="assets/img/laboratorio.jpg" class="img-responsive" alt="">
                                            </div>
                                            <div class="courses-date">
                                                 <span><i class="fa fa-clock-o"></i> 1 Hours</span>
                                            </div>
                                       </div>
  
                                       <div class="courses-detail">
                                            <h3><a >Laboratorio clínico</a></h3>
                                            <p>Oferta exámenes de diversas áreas como hematología, coagulación, inmunología, uroanálisis, parasitología, entre otros.</p>
                                       </div>
               
                                  </div>
                             </div>
                        </div>
  
                   </div>
               </div>
         </div>
    </div>
  </section>
  
  
  <!-- medicos -->
  <section id="testimonial">
    <div class="container">
         <div class="row">
              <div class="col-md-12 col-sm-12">
                   <div class="section-title">
                        <h2>Médicos <small></small></h2>
                   </div>
  
                   <div  class="owl-carousel owl-theme owl-client">
                        <div *ngFor="let medico of medicos" class="col-md-4 col-sm-4">
                             <div class="item">
                                  <div class="tst-image">
                                       <img src="assets/img/doctor.jpg" class="img-responsive" alt="">
                                  </div>
                                  <div class="tst-author">
                                       <h4>{{medico.nombres}} {{medico.apellidos}}</h4>
                                       <span>{{medico.especialidad}}</span>
                                       <ul class="social-icon">
                                        <li><a (click)="copiar(medico.correo)" class="fa fa-envelope" ></a></li>
                                   </ul>
                                  </div>
                                  <p></p>
                             </div>
                        </div>
                   </div>
               </div>
          </div>
    </div>
  </section> 
  
  
  <!-- Contacto -->
  <section id="contact">
    <div class="container">
         <div class="row">
  
              <div class="col-md-6 col-sm-12">
                   <form [formGroup]="form_contacto" id="contact-form" role="form" (ngSubmit)="onSubmit()">
                        <div class="section-title">
                             <h2>Contactanos <small></small></h2>
                        </div>
  
                        <div class="col-md-12 col-sm-12">
                             <input type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Ingresar Nombre" name="name" required="">
              
                             <input type="email" class="form-control" formControlName="correo" id="correo" placeholder="Ingresar Correo Electrónico" name="email" required="">
  
                             <textarea class="form-control" rows="6" formControlName="mensaje" id="mensaje" placeholder="Ingresae su mensaje" name="message" required=""></textarea>
                        </div>
  
                        <div class="col-md-4 col-sm-12">
                             <input type="submit" class="form-control" name="Enviar mensaje" value="Enviar mensaje">
                        </div>
  
                   </form>
              </div>
  
              <div class="col-md-6 col-sm-12">
                   <div class="contact-image">
                        <img src="assets/img/MediLogoHor.png" class="img-responsive" alt="Smiling Two Girls">
                   </div>
              </div>
  
         </div>
    </div>
  </section>       
  
  
  <!-- FOOTER -->
  <footer id="footer">
    <div class="container">
         <div class="row">
  
              <div class="col-md-4 col-sm-6">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Redes sociales</h2>
                        </div>
                        <ul class="social-icon">
                             <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                             <li><a href="#" class="fa fa-twitter"></a></li>
                             <li><a href="#" class="fa fa-instagram"></a></li>
                        </ul>
  
                        <div class="copyright-text"> 
                             <p>&copy; 2022</p>
                        </div>
                   </div>
              </div>
              
              <div class="col-md-4 col-sm-12">

              </div>
              <div class="col-md-4 col-sm-12">
                   <div class="footer-info">
                        <div class="section-title">
                             <h2>Información de contacto</h2>
                        </div>
                        <address>
                             <p>+593 99 8505534, +593 99 463 4484</p>
                             <p><a href="mailto:lmoreirat@uteq.edu.ec">lmoreirat@uteq.edu.ec</a></p>
                             <p><a href="mailto:michell.aviles2018@uteq.edu.ec">michell.aviles2018@uteq.edu.ec</a></p>
                        </address>
                   </div>
              </div>
              
         </div>
    </div>
  </footer>
