<div class="container">
    <h2 class="active"> Listado de Médicos</h2>
    <div class="fadeIn first">
        <img src="assets/img/MediLogo2.png" id="icon" alt="Icon" />
    </div>
    <strong><a [routerLink]="['/menu']"> <i class='bx bxs-left-arrow'></i> Volver al menú</a></strong>
	<table class="text-center" >
		<thead>
			<tr >
				<th>N° de Cédula</th>
                <th>Nombres</th>
                <th>Apellidos</th>
				<th>Especialidad</th>
				<th>Direccion</th>
				<th>Celular</th>
                <th>Correo Eléctronico</th>
                <th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let medico of medicos;let control=index">
				<td> {{medico.cedula}} </td>
				<td> {{medico.nombres}}</td>
				<td> {{medico.apellidos}}</td>
				<td> {{medico.especialidad}}</td>
				<td> {{medico.direccion}}</td>
				<td> {{medico.celular}}</td>
				<td> {{medico.correo}}</td>
                <td>
					<a (click)="aprobar_medico(medico.id)" *ngIf="medico.estado=='PENDIENTE'" class="btn btn-info"><i class='bx bx-check'></i></a>
                    <a (click)="borrar(medico.id,control)" class="btn btn-danger"><i class='bx bx-x'></i></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

